<% content_for :title, t(".title") %>

<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-col-md-8">
    <h1><%= t(".heading") %></h1>
    <p class="fr-text--lead"><%= t(".lead") %></p>
    <p><%= link_to t("portail.errors.back_home"), root_path, class: "fr-btn" %></p>
  </div>
</div>
