<% if flash[:notice] %>
  <div class="fr-alert fr-alert--success fr-alert--sm fr-mb-4w" role="status">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="fr-alert fr-alert--error fr-alert--sm fr-mb-4w" role="alert">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>
