<div class="fr-skiplinks">
  <nav class="fr-container" role="navigation" aria-label="<%= t(".quick_access") %>">
    <ul class="fr-skiplinks__list">
      <li><a class="fr-link" href="#content"><%= t(".content") %></a></li>
      <li><a class="fr-link" href="#header-navigation"><%= t(".menu") %></a></li>
      <li><a class="fr-link" href="#footer"><%= t(".footer") %></a></li>
    </ul>
  </nav>
</div>
